/* font-family: 'Inter', sans-serif; 
 Main color: color: #F55800; 
 Second color: #F4F5F7;
*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700;800&display=swap");

body {
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 0.5rem;
}

section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
li {
  text-decoration: none;
  list-style: none;
}
a {
  color: #f4f5f7;
}
.nav-link {
  font-size: 1rem;
}

#main {
  background-color: black;
  background-image: url("Images/background.svg");
  background-repeat: no-repeat;
  background-position-x: 100%;
  width: 100%;
  height: 40rem;
}
#social-color {
  color: #fff;
}
.icons {
  font-size: 1.4rem;
}
.main-text {
  color: #f55800;
  font-size: 2.8rem;
}
.subtext {
  color: #fff;
}
.paragraph {
  color: #f4f5f7;
  width: 30%;
}
.btn {
  background-color: #f55800;
}
.about-me {
  background-color: black;
  background-image: url("Images/about-me-background.svg");
  background-repeat: no-repeat;
  background-position-x: 100%;
}
